[tool.poetry]
name = "openstates-people"
version = "1.3"
description = ""
authors = ["James Turk <james@openstates.org>"]

[tool.poetry.dependencies]
python = "^3.7"
yamlordereddictloader = "^0.4.0"
click = "^7.0"
Django = "^2.2"
PyYAML = "^5.1"
boto3 = "^1.9"
scrapelib = "^1.2"
pillow = "^8.1"
openstates = "^5.6.0"
spatula = "^0.5.0"

[tool.poetry.dev-dependencies]
flake8 = "^3.7"
pytest = "^5.1"
pytest-django = "^3.5"
pytest-cov = "^2.7"
coveralls = "^1.8"

[tool.black]
line-length = 99
target-version = ["py37"]
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | build
  | dist
)/
'''
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

