al:
  vacancies:
  - chamber: lower
    district: 29
    vacant_until: 2022-12-01
ca:
  vacancies:
  - chamber: lower
    district: '11'
    vacant_until: 2022-06-01
  - chamber: lower
    district: '17'
    vacant_until: 2022-05-01
  - chamber: lower
    district: '49'
    vacant_until: 2022-05-01
  - chamber: lower
    district: '80'
    vacant_until: 2022-06-01
ct:
  vacancies:
  - chamber: lower
    district: '5'
    vacant_until: 2022-03-07
  - chamber: lower
    district: '71'
    vacant_until: 2022-03-07
  - chamber: lower
    district: '144'
    vacant_until: 2022-02-02
md:
  vacancies:
  - chamber: lower
    district: '25'
    vacant_until: 2022-02-02
ny:
  vacancies:
  - chamber: lower
    district: '60'
    vacant_until: 2022-02-22
  - chamber: lower
    district: '68'
    vacant_until: 2022-02-02
  - chamber: lower
    district: '72'
    vacant_until: 2022-02-22
us:
  vacancies:
  - chamber: lower
    district: FL-20
    vacant_until: 2022-02-18
