al:
  vacancies:
    - chamber: upper
      district: 14
      vacant_until: 2021-07-13  # general election date
    - chamber: upper
      district: 26
      vacant_until: 2021-03-21  # general election date
    - chamber: lower
      district: 33
      vacant_until: 2021-01-21  # general election date
ca:
  vacancies:
    - chamber: upper
      district: 30
      vacant_until: 2021-06-01
ga:
  vacancies:
    - chamber: upper
      district: 4
      vacant_until: 2021-03-01
ma:
  vacancies:
    - chamber: upper
      district: Plymouth and Barnstable
      vacant_until: 2021-03-01
    - chamber: upper
      district: Second Hampden and Hampshire
      vacant_until: 2021-03-01
    - chamber: lower
      district: Third Bristol
      vacant_until: 2021-03-01
    - chamber: lower
      district: Thirty-Seventh Middlesex
      vacant_until: 2021-03-01
mo:
  vacancies:
    - chamber: upper
      district: 3
      vacant_until: 2021-03-01
    - chamber: upper
      district: 7
      vacant_until: 2021-03-01
    - chamber: upper
      district: 9
      vacant_until: 2021-03-01
    - chamber: lower
      district: 34
      vacant_until: 2021-03-01
md:
  vacancies:
    - chamber: lower
      district: 40
      vacant_until: 2021-02-01
me:
  vacancies:
    - chamber: upper
      district: 14
      vacant_until: 2021-03-01
va:
  vacancies:
    - chamber: lower
      district: 2
      vacant_until: 2021-03-01
    - chamber: lower
      district: 90
      vacant_until: 2021-03-01

parties:
 - Democratic
 - Democratic-Farmer-Labor    # MN
 - Democratic/Progressive     # VT
 - Independent
 - Libertarian
 - Nonpartisan
 - Partido Independentista Puertorriqueño
 - Partido Nuevo Progresista
 - Partido Popular Democrático
 - Progressive
 - Progressive/Democratic    # VT
 - Republican
 - Green
 - Republican/Democratic     # VT
 - Carter County Republican  # TN
