al:
  vacancies:
  - chamber: upper
    district: '5'
    vacant_until: 2026-01-01
  - chamber: lower
    district: '11'
    vacant_until: 2026-01-01
az:
  vacancies:
  - chamber: upper
    district: '9'
    vacant_until: 2026-01-01
co:
  vacancies:
  - chamber: upper
    district: '17'
    vacant_until: 2026-01-01
ct:
  vacancies:
  - chamber: lower
    district: '113'
    vacant_until: 2026-01-01
fl:
  vacancies:
  - chamber: lower
    district: '3'
    vacant_until: 2026-01-01
  - chamber: upper
    district: '15'
    vacant_until: 2026-01-01
il:
  vacancies:
  - chamber: upper
    district: '26'
    vacant_until: 2026-01-01
la:
  vacancies:
  - chamber: lower
    district: '67'
    vacant_until: 2026-01-01
ma:
  vacancies:
  - chamber: lower
    district: 6th Essex
    vacant_until: 2026-01-01
mi:
  vacancies:
  - chamber: upper
    district: 35
    vacant_until: 2026-01-01
mn:
  vacancies:
  - chamber: upper
    district: 6
    vacant_until: 2026-01-01
mo:
  vacancies:
  - chamber: lower
    district: '95'
    vacant_until: 2026-01-01
ms:
  vacancies:
  - chamber: lower
    district: '23'
    vacant_until: 2026-01-01
  - chamber: lower
    district: '82'
    vacant_until: 2026-01-01
  - chamber: upper
    district: '18'
    vacant_until: 2026-01-01
nh:
  vacancies:
  - chamber: lower
    district: Strafford 12
    vacant_until: 2026-01-01
  - chamber: lower
    district: Rockingham 25
    vacant_until: 2026-01-01
ok:
  vacancies:
  - chamber: lower
    district: '71'
    vacant_until: 2026-01-01
  - chamber: lower
    district: '74'
    vacant_until: 2026-01-01
  - chamber: upper
    district: '8'
    vacant_until: 2026-01-01
pa:
  vacancies:
  - chamber: lower
    district: '35'
    vacant_until: 2026-01-01
  - chamber: upper
    district: '36'
    vacant_until: 2026-01-01
pr:
  vacancies:
  - chamber: upper
    district: '4'
    vacant_until: 2026-01-01
sc:
  vacancies:
  - chamber: lower
    district: 113
    vacant_until: 2026-01-01
  - chamber: lower
    district: '50'
    vacant_until: 2026-01-01
sd:
  vacancies:
  - chamber: lower
    district: '13'
    vacant_until: 2026-01-01
  - chamber: lower
    district: '6'
    vacant_until: 2026-01-01
us:
  vacancies:
  - chamber: lower
    district: FL-1
    vacant_until: 2026-01-01
  - chamber: lower
    district: FL-6
    vacant_until: 2026-01-01
  - chamber: lower
    district: AZ-7
    vacant_until: 2026-01-01
  - chamber: lower
    district: TX-18
    vacant_until: 2026-01-01
