al:
  vacancies:
  - chamber: lower
    district: 52
    vacant_until: 2025-01-01
ca:
  vacancies:
  - chamber: lower
    district: 32
    vacant_until: 2025-01-01
ia:
  vacancies:
  - chamber: upper
    district: 30
    vacant_until: 2025-01-01
id:
  vacancies:
  - chamber: upper
    district: 9
    vacant_until: 2025-01-01
hi:
  vacancies:
  - chamber: lower
    district: 1
    vacant_until: 2025-01-01
ma:
  vacancies:
  - chamber: lower
    district: '6th Plymouth'
    vacant_until: 2025-01-01
me:
  vacancies:
  - chamber: lower
    district: 14
    vacant_until: 2025-01-01
  - chamber: lower
    district: 51
    vacant_until: 2025-01-01
  - chamber: lower
    district: 79
    vacant_until: 2025-01-01
md:
  vacancies:
  - chamber: lower
    district: 16
    vacant_until: 2025-01-01
mo:
  vacancies:
  - chamber: lower
    district: 78
    vacant_until: 2025-01-01
  - chamber: upper
    district: 7
    vacant_until: 2025-01-01
  - chamber: upper
    district: 11
    vacant_until: 2025-01-01
  - chamber: upper
    district: 17
    vacant_until: 2025-01-01
  - chamber: upper
    district: 33
    vacant_until: 2025-01-01
mn:
  vacancies:
  - chamber: upper
    district: 45
    vacant_until: 2025-01-01
  - chamber: lower
    district: 50A
    vacant_until: 2025-01-01
  - chamber: lower
    district: 8A
    vacant_until: 2025-01-01
nh:
  vacancies:
  - chamber: lower
    district: Grafton 12
    vacant_until: 2025-01-01
  - chamber: lower
    district: Hillsborough 2
    vacant_until: 2025-01-01
  - chamber: lower
    district: Hillsborough 39
    vacant_until: 2025-01-01
  - chamber: lower
    district: Merrimack 28
    vacant_until: 2025-01-01
  - chamber: lower
    district: Rockingham 30
    vacant_until: 2025-01-01
nv:
  vacancies:
    - chamber: upper
      district: 18
      vacant_until: 2025-01-01
    - chamber: lower
      district: 7
      vacant_until: 2025-01-01
    - chamber: lower
      district: 10
      vacant_until: 2025-01-01
ny:
  vacancies:
  - chamber: upper
    district: 63
    vacant_until: 2025-01-01
  - chamber: lower
    district: 85
    vacant_until: 2025-01-01
  - chamber: lower
    district: 96
    vacant_until: 2025-01-01
or:
  vacancies:
  - chamber: lower
    district: 33
    vacant_until: 2025-01-01 # Maxine Resigns
pr:
  vacancies:
  - chamber: lower
    district: 29
    vacant_until: 2025-01-01
ri:
  vacancies:
  - chamber: upper
    district: 25
    vacant_until: 2025-01-01
sc:
  vacancies:
  - chamber: lower
    district: 113
    vacant_until: 2025-01-01
wi:
  vacancies:
  - chamber: upper
    district: 4
    vacant_until: 2025-01-01
  - chamber: lower
    district: 9
    vacant_until: 2025-01-01
wv:
  vacancies:
  - chamber: lower
    district: 44
    vacant_until: 2025-01-01
