al:
  vacancies:
  - chamber: lower
    district: '38'
    vacant_until: 2026-02-14
ar:
  vacancies:
  - chamber: lower
    district: '70'
    vacant_until: 2026-03-03
  - chamber: upper
    district: '26'
    vacant_until: 2026-03-03
dc:
  vacancies:
  - chamber: legislature
    district: Ward 8
    vacant_until: 2026-02-15
fl:
  vacancies:
  - chamber: upper
    district: '15'
    vacant_until: 2026-02-15
ga:
  vacancies:
  - chamber: upper
    district: '21'
    vacant_until: 2026-02-15
ia:
  vacancies:
  - chamber: upper
    district: '1'
    vacant_until: 2026-02-15
id:
  vacancies:
  - chamber: lower
    district: '16B'
    vacant_until: 2026-02-15
la:
  vacancies: []
ks:
  vacancies:
  - chamber: lower
    district: 70
    vacant_until: 2026-02-15
mi:
  vacancies:
  - chamber: upper
    district: 35
    vacant_until: 2026-02-15
mn:
  vacancies:
  - chamber: lower
    district: '34B'
    vacant_until: 2026-09-17
mo:
  vacancies:
  - chamber: lower
    district: '95'
    vacant_until: 2026-02-15
  - chamber: lower
    district: '160'
    vacant_until: 2026-02-15
mt:
  vacancies:
  - chamber: lower
    district: '75'
    vacant_until: 2026-02-15
ms:
  vacancies:
  - chamber: lower
    district: '26'
    vacant_until: 2026-02-15
  - chamber: upper
    district: '24'
    vacant_until: 2026-02-15
  - chamber: upper
    district: '26'
    vacant_until: 2026-02-15
nd:
  vacancies: []
nh:
  vacancies:
  - chamber: lower
    district: Rockingham 25
    vacant_until: 2026-02-15
  - chamber: lower
    district: Coos 5
    vacant_until: 2026-02-15
ny:
  vacancies:
    - chamber: lower
      district: 36
      vacant_until: 2026-07-30
    - chamber: lower
      district: 74
      vacant_until: 2026-07-30
    - chamber: upper
      district: 47
      vacant_until: 2026-07-30
    - chamber: upper
      district: 61
      vacant_until: 2026-07-30
ok:
  vacancies:
  - chamber: lower
    district: 35
    vacant_until: 2026-02-15
  - chamber: lower
    district: 92
    vacant_until: 2026-02-15
pa:
  vacancies:
  - chamber: lower
    district: 22
    vacant_until: 2026-07-30
  - chamber: lower
    district: 42
    vacant_until: 2026-07-30
  - chamber: lower
    district: 79
    vacant_until: 2026-07-30
  - chamber: lower
    district: 193
    vacant_until: 2026-07-30
tx:
  vacancies:
  - chamber: upper
    district: 4
    vacant_until: 2026-07-30
  - chamber: upper
    district: 9
    vacant_until: 2026-07-30
us:
  vacancies:
  - chamber: lower
    district: AZ-7
    vacant_until: 2026-07-30
  - chamber: lower
    district: TX-18
    vacant_until: 2026-07-30
  - chamber: lower
    district: VA-11
    vacant_until: 2026-07-30
wv:
  vacancies:
  - chamber: lower
    district: 74
    vacant_until: 2026-07-30
  - chamber: upper
    district: 3
    vacant_until: 2026-07-30
