ct:
  vacancies:
  - chamber: lower
    district: 6
    vacant_until: 2025-01-08
  - chamber: lower
    district: 100
    vacant_until: 2025-01-08
  - chamber: lower
    district: 148
    vacant_until: 2025-01-08
fl:
  vacancies:
  - chamber: lower
    district: '24'
    vacant_until: 2023-03-06
ga:
  vacancies:
  - chamber: lower
    district: '119'
    vacant_until: 2025-01-08
la:
  vacancies:
  - chamber: lower
    district: '93'
    vacant_until: 2023-04-09
