al:
  vacancies:
  - chamber: lower
    district: 63
    vacant_until: 2021-09-01
us:
  vacancies:
  - chamber: lower
    district: FL-20
    vacant_until: 2022-01-12
  - chamber: lower
    district: OH-11
    vacant_until: 2021-11-03
