al:
  vacancies:
  - chamber: lower
    district: 29
    vacant_until: 2023-03-06
  - chamber: lower
    district: 47
    vacant_until: 2023-03-06
ct:
  vacancies:
  - chamber: lower
    district: 100
    vacant_until: 2025-01-08
il:
  vacancies:
  - chamber: lower
    district: 82
    vacant_until: 2025-01-08
fl:
  vacancies:
  - chamber: lower
    district: '24'
    vacant_until: 2023-03-06
la:
  vacancies:
  - chamber: lower
    district: '93'
    vacant_until: 2023-04-09
