al:
  vacancies:
  - chamber: upper
    district: '5'
    vacant_until: 2026-01-01
  - chamber: lower
    district: '11'
    vacant_until: 2026-01-01
  - chamber: lower
    district: '12'
    vacant_until: 2026-01-01
ca:
  vacancies:
  - chamber: lower
    district: '63'
    vacant_until: 2025-08-26
dc:
  vacancies:
  - chamber: legislature
    district: Ward 8
    vacant_until: 2026-01-01
fl:
  vacancies:
  - chamber: lower
    district: '3'
    vacant_until: 2026-01-01
  - chamber: upper
    district: '15'
    vacant_until: 2026-01-01
  - chamber: upper
    district: '19'
    vacant_until: 2025-06-10
hi:
  vacancies:
  - chamber: lower
    district: '18'
    vacant_until: 2026-01-01
la:
  vacancies:
  - chamber: lower
    district: '67'
    vacant_until: 2026-01-01
ma:
  vacancies:
  - chamber: lower
    district: 3rd Bristol
    vacant_until: 2026-01-01
  - chamber: lower
    district: 6th Essex
    vacant_until: 2026-01-01
mi:
  vacancies:
  - chamber: upper
    district: 35
    vacant_until: 2026-01-01
mn:
  vacancies:
  - chamber: upper
    district: 6
    vacant_until: 2026-01-01
mo:
  vacancies:
  - chamber: lower
    district: '95'
    vacant_until: 2026-01-01
ms:
  vacancies:
  - chamber: lower
    district: '23'
    vacant_until: 2026-01-01
nh:
  vacancies:
  - chamber: lower
    district: Strafford 12
    vacant_until: 2026-01-01
  - chamber: lower
    district: Rockingham 25
    vacant_until: 2026-01-01
ny:
  vacancies:
  - chamber: upper
    district: 22
    vacant_until: 2025-05-20
ok:
  vacancies:
  - chamber: lower
    district: '71'
    vacant_until: 2026-01-01
  - chamber: lower
    district: '74'
    vacant_until: 2026-01-01
  - chamber: lower
    district: '97'
    vacant_until: 2025-09-09
  - chamber: upper
    district: '8'
    vacant_until: 2026-01-01
or:
  vacancies:
  - chamber: upper
    district: '13'
    vacant_until: 2025-06-01
pa:
  vacancies:
  - chamber: upper
    district: '36'
    vacant_until: 2026-01-01
ri:
  vacancies:
  - chamber: upper
    district: '4'
    vacant_until: 2025-07-01
sc:
  vacancies:
  - chamber: lower
    district: '50'
    vacant_until: 2026-01-01
us:
  vacancies:
  - chamber: lower
    district: AZ-7
    vacant_until: 2026-01-01
  - chamber: lower
    district: TX-18
    vacant_until: 2026-01-01
wa:
  vacancies:
  - chamber: upper
    district: 5
    vacant_until: 2025-06-23
