al:
  vacancies:
  - chamber: lower
    district: '38'
    vacant_until: 2026-02-14
ar:
  vacancies:
  - chamber: lower
    district: '70'
    vacant_until: 2026-03-03
  - chamber: upper
    district: '26'
    vacant_until: 2026-03-03
fl:
  vacancies:
  - chamber: lower
    district: '52'
    vacant_until: 2026-07-15
  - chamber: lower
    district: '87'
    vacant_until: 2026-07-15
  - chamber: lower
    district: '113'
    vacant_until: 2026-07-15
  - chamber: upper
    district: '14'
    vacant_until: 2026-07-15
ga:
  vacancies:
  - chamber: upper
    district: '18'
    vacant_until: 2026-07-15
  - chamber: lower
    district: '94'
    vacant_until: 2026-07-15
  - chamber: lower
    district: '130'
    vacant_until: 2026-07-15
in:
  vacancies:
  - chamber: upper
    district: '17'
    vacant_until: 2026-07-15
la:
  vacancies:
    - chamber: upper
      district: 3
      vacant_until: 2026-02-07
    - chamber: lower
      district: 37
      vacant_until: 2026-02-07
    - chamber: lower
      district: 60
      vacant_until: 2026-02-07
    - chamber: lower
      district: 69
      vacant_until: 2026-02-07
    - chamber: lower
      district: 97
      vacant_until: 2026-02-07
    - chamber: lower
      district: 100
      vacant_until: 2026-02-07
ma:
  vacancies:
  - chamber: lower
    district: '1st Franklin'
    vacant_until: 2026-06-01
  - chamber: lower
    district: '5th Essex'
    vacant_until: 2026-03-31
  - chamber: upper
    district: 'First Middlesex'
    vacant_until: 2026-03-03
me:
  vacancies:
  - chamber: lower
    district: 29
    vacant_until: 2026-05-01
  - chamber: lower
    district: 94
    vacant_until: 2026-02-25
mi:
  vacancies:
  - chamber: upper
    district: 35
    vacant_until: 2026-02-15
mn:
  vacancies:
  - chamber: lower
    district: '47A'
    vacant_until: 2026-09-17
  - chamber: lower
    district: '64A'
    vacant_until: 2026-09-17
mo:
  vacancies:
  - chamber: lower
    district: '95'
    vacant_until: 2026-02-15
  - chamber: lower
    district: '110'
    vacant_until: 2026-02-28
  - chamber: lower
    district: '114'
    vacant_until: 2026-02-28
  - chamber: lower
    district: '149'
    vacant_until: 2026-02-28
  - chamber: lower
    district: '160'
    vacant_until: 2026-02-15
nd:
  vacancies: []
nh:
  vacancies:
  - chamber: lower
    district: Rockingham 25
    vacant_until: 2026-02-15
  - chamber: lower
    district: Carroll 7
    vacant_until: 2026-03-11
  - chamber: lower
    district: Belknap 2
    vacant_until: 2026-03-11
  - chamber: lower
    district: Hillsborough 24
    vacant_until: 2026-03-11
  - chamber: lower
    district: Hillsborough 29
    vacant_until: 2026-03-11
ny:
  vacancies:
    - chamber: lower
      district: 36
      vacant_until: 2026-07-30
    - chamber: lower
      district: 74
      vacant_until: 2026-07-30
    - chamber: upper
      district: 47
      vacant_until: 2026-07-30
    - chamber: upper
      district: 61
      vacant_until: 2026-07-30
ok:
  vacancies:
  - chamber: lower
    district: 35
    vacant_until: 2026-02-15
  - chamber: lower
    district: 92
    vacant_until: 2026-02-15
pa:
  vacancies:
  - chamber: lower
    district: 22
    vacant_until: 2026-07-30
  - chamber: lower
    district: 42
    vacant_until: 2026-07-30
  - chamber: lower
    district: 79
    vacant_until: 2026-07-30
  - chamber: lower
    district: 193
    vacant_until: 2026-07-30
tx:
  vacancies:
  - chamber: upper
    district: 4
    vacant_until: 2026-07-30
  - chamber: upper
    district: 9
    vacant_until: 2026-07-30
us:
  vacancies:
  - chamber: lower
    district: AZ-7
    vacant_until: 2026-07-30
  - chamber: lower
    district: TX-18
    vacant_until: 2026-07-30
  - chamber: lower
    district: VA-11
    vacant_until: 2026-07-30
wv:
  vacancies:
  - chamber: lower
    district: 74
    vacant_until: 2026-07-30
  - chamber: upper
    district: 3
    vacant_until: 2026-07-30
