al:
  vacancies:
  - chamber: lower
    district: 63
    vacant_until: 2022-02-02
md:
  vacancies:
  - chamber: lower
    district: '25'
    vacant_until: 2022-02-02
ny:
  vacancies:
  - chamber: lower
    district: '68'
    vacant_until: 2022-02-02
us:
  vacancies:
  - chamber: lower
    district: FL-20
    vacant_until: 2022-01-12
