al:
  vacancies:
    - chamber: upper
      district: 14
      vacant_until: 2021-07-13  # general election date
    - chamber: upper
      district: 26
      vacant_until: 2021-03-21  # general election date
ca:
  vacancies:
    - chamber: upper
      district: 30
      vacant_until: 2021-06-01
ga:
  vacancies:
    - chamber: lower
      district: 90
      vacant_until: 2021-03-01  # unknown special election date
# ma:
#   vacancies:
    # - chamber: upper
    #   district: Second Hampden and Hampshire
    #   vacant_until: 2021-03-01
mo:
  vacancies:
    - chamber: lower
      district: 45
      vacant_until: 2021-04-01
md:
  vacancies:
    - chamber: lower
      district: 40
      vacant_until: 2021-02-01
me:
  vacancies:
    - chamber: upper
      district: 14
      vacant_until: 2021-03-01
nc:
  vacancies:
    - chamber: lower
      district: 39
      vacant_until: 2021-03-01
    - chamber: upper
      district: 17
      vacant_until: 2021-03-01
nh:
  vacancies:
    - chamber: lower
      district: "Hillsborough 21"
      vacant_until: 2021-06-01    # election not yet called
    - chamber: lower
      district: "Rockingham 6"
      vacant_until: 2021-06-01    # election not yet called
or:
  vacancies:
    - chamber: upper
      district: 20
      vacant_until: 2021-02-15
va:
  vacancies:
    - chamber: lower
      district: 2
      vacant_until: 2021-03-01
    - chamber: lower
      district: 90
      vacant_until: 2021-03-01
wv:
  vacancies:
    - chamber: lower
      district: 19
      vacant_until: 2021-03-01

parties:
 - Democratic
 - Democratic-Farmer-Labor    # MN
 - Democratic/Progressive     # VT
 - Independent
 - Libertarian
 - Nonpartisan
 - Partido Independentista Puertorriqueño
 - Partido Nuevo Progresista
 - Partido Popular Democrático
 - Progressive
 - Progressive/Democratic    # VT
 - Republican
 - Green
 - Republican/Democratic     # VT
 - Carter County Republican  # TN
 - Independence              # NY
