al:
  vacancies:
  - chamber: lower
    district: 29
    vacant_until: 2023-03-06
  - chamber: lower
    district: 47
    vacant_until: 2023-03-06
ct:
  vacancies:
  - chamber: lower
    district: 100
    vacant_until: 2025-01-08
fl:
  vacancies:
  - chamber: lower
    district: '50'
    vacant_until: 2023-03-06
  - chamber: lower
    district: '11'
    vacant_until: 2023-03-06
  - chamber: upper
    district: '36'
    vacant_until: 2023-03-06
la:
  vacancies:
  - chamber: upper
    district: '5'
    vacant_until: 2023-04-09
ma:
  vacancies:
  - chamber: lower
    district: 1st Middlesex
    vacant_until: 2023-01-28
  - chamber: lower
    district: 8th Essex
    vacant_until: 2023-01-28
  - chamber: lower
    district: 8th Middlesex
    vacant_until: 2023-01-28
  - chamber: lower
    district: 11th Plymouth
    vacant_until: 2023-01-28
tn:
  vacancies:
  - chamber: lower
    district: '91'
    vacant_until: 2022-12-30
us:
  vacancies:
    - chamber: lower
      district: 'FL-22'
      vacant_until: 2022-12-30

wv:
  vacancies:
  - chamber: lower
    district: '35'
    vacant_until: 2023-01-28
