al:
  vacancies:
  - chamber: lower
    district: 10
    vacant_until: 2025-01-01
  - chamber: lower
    district: 27
    vacant_until: 2025-01-01
az:
  vacancies:
  - chamber: lower
    district: 22
    vacant_until: 2025-01-01
ga:
  vacancies:
  - chamber: lower
    district: 125
    vacant_until: 2025-01-01
  - chamber: lower
    district: 139
    vacant_until: 2025-01-01
  - chamber: upper
    district: 30
    vacant_until: 2025-01-01
ma:
  vacancies:
  - chamber: lower
    district: '6th Plymouth'
    vacant_until: 2025-01-01
mi:
  vacancies:
  - chamber: lower
    district: 13
    vacant_until: 2025-01-01
  - chamber: lower
    district: 25
    vacant_until: 2025-01-01
mo:
  vacancies:
  - chamber: lower
    district: 78
    vacant_until: 2025-01-01
nh:
  vacancies:
  - chamber: lower
    district: Rockingham 21
    vacant_until: 2025-01-01
  - chamber: lower
    district: Grafton 12
    vacant_until: 2025-01-01
  - chamber: lower
    district: Hillsborough 2
    vacant_until: 2025-01-01
ny:
  vacancies:
  - chamber: lower
    district: '77'
    vacant_until: 2025-03-01
nv:
  vacancies:
    - chamber: upper
      district: 18
      vacant_until: 2025-01-01
    - chamber: lower
      district: 10
      vacant_until: 2025-01-01
oh:
  vacancies:
  - chamber: lower
    district: 32
    vacant_until: 2025-01-01
  - chamber: lower
    district: 33
    vacant_until: 2025-01-01
ok:
  vacancies:
  - chamber: lower
    district: 39
    vacant_until: 2025-01-01
pa:
  vacancies:
  - chamber: lower
    district: 140
    vacant_until: 2025-01-01
pr:
  vacancies:
  - chamber: lower
    district: 29
    vacant_until: 2025-01-01
sc:
  vacancies:
  - chamber: lower
    district: '109'
    vacant_until: 2025-01-01
sd:
  vacancies:
  - chamber: lower
    district: 32
    vacant_until: 2025-01-01
  - chamber: upper
    district: 35
    vacant_until: 2025-01-01
tx:
  vacancies:
  - chamber: lower
    district: 2
    vacant_until: 2025-01-01
  - chamber: upper
    district: 15
    vacant_until: 2025-01-01
