name: Lint YAML

on:
  push:
    branches: [ main ]
    paths:
      - "data/**"
      - "src/ospeople/cli/lint_yaml.py"
      - "settings.yml"
  pull_request:
    branches: [ main ]
    paths:
      - "data/**"
      - "src/ospeople/cli/lint_yaml.py"
      - "settings.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Python & dependency installation
    - uses: actions/checkout@v2
    - name: setup Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: install Poetry
      uses: snok/install-poetry@v1.1.1
    - name: cache Poetry virtualenv
      uses: actions/cache@v2
      id: cache
      with:
        path: ~/.virtualenvs/
        key: poetry-${{ hashFiles('**/poetry.lock') }}
        restore-keys: |
          poetry-${{ hashFiles('**/poetry.lock') }}
    - name: set poetry config path
      run: poetry config virtualenvs.path ~/.virtualenvs
    - name: install dependencies
      run: poetry install
      # if: steps.cache.outputs.cache-hit != 'true'

    - name: lint yaml
      run: poetry run os-lint-yaml
